.chat-main
  .chat-main__grups
    .chat-main__grups__edit
      %p.chat-main__grups__edit-space
        エンジニア motoki
      = link_to '#', class:"chat-main__grups__edit-box" do
        Edit


    .chat-main__grups__menber
      %p.chat-main__grups__menber-user
      Msenbr :
      %p.chat-main__grups__menber__name
      kazuhiro 
  .chat-main__messages-list
  .chat-main__messages-formss