.chat-main
  .chat-main__grups
    .chat-main__grups__edit
      %p.chat-main__grups__edit-space
        エンジニア motoki
      = link_to '#', class:"chat-main__grups__edit-box" do
        Edit


    .chat-main__grups__menber
      %p.chat-main__grups__menber-user
      Menber :
      %p.chat-main__grups__menber__name
      kazuhiro 
  .chat-main__messages-list
    .chat-main__messages-list__text
      %p.chat-main__messages-list__text-name
        tokuoka
      %p.chat-main__messages-list__text-time
        2019/12/20 (sun)
    .chat-main__messages-list__message
    %p.chat-main__messages-list__message-coment
      こんにちは
  .chat-main__messages-formss