.chat-main {
  width: calc(100vw - 300px);
  float: left;
  &__grups {
  height: 100px;
  background-color: #ffffff;
  padding: 0 40px;
  overflow: scroll;
  }
  &__grups__edit {
    display: flex;
    justify-content: space-between;
   }
  &__grups__edit-space {
    margin-top: 35px;
    color: #333333;
    font-size: 20px;
    margin-bottom: 15px;
  }
  &__grups__edit-box {
    padding: 0 20px;
    border: solid 1px #66ffff;
    margin-top: 28px;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
  }
  &__grups__menber {
    display: flex;
    color: #999999;
    font-size: 12px;
  }
  &__messages-list {
    height: calc(100vh - 190px);
    background-color: #fafafa;
    padding: 40px;
    overflow: scroll;
  }
  &__messages-list__text {
    display: flex;
    margin-top: 35px;
    margin-bottom: 12px;
  }
    &__messages-list__text-name {
    color: #333333;
    font-size: 16px;
    font-weight: bold;
  }
    &__messages-list__text-time {
    color: #999999;
    font-size: 12px;
    margin-left: 10px;
  }
  &__messages-list__message-coment {
    color: #434A54;
    font-size: 14px;
  }
  &__messages-forms {
    height: 90px;
    background-color: #d2d2d2;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
  }
  &__messages-forms__box {
    height: 50px;
    width: 100%;
    line-height: 50px;
    background-color: #fafafa;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
  }
  &__messages-forms__box-message {
    color: #999999;
  }
  &__messages-forms__send {
    border: solid 1px #66ffff;
    margin-left: 15px;
    height: 50px;
    line-height: 50px;
    padding: 0 30px;
    background-color: #66ffff
  }
  &__messages-forms__send-num {
    color: #ffffff;
    text-decoration: none;
  }
  &__messages-forms__box-icon__imege {
    text-decoration: none;
    font-size: 1.3rem;
    input{
      display: none;
  }
}
}
