* {
  box-sizing: border-box;
}
.side-bar {
  width: 300px;
  height: 100vh;
  float: left; 
  &__user-name {
    background-color: #253141;
    height: 100px;
    padding: 0 20px;
  }
  &__box {
    height: 100px;
    display: flex;
    align-items:center;
    color: white;
    justify-content: space-between;
    line-height: 100px;
    font-weight: bold;
  }
  &__menu {
    display: flex;
    letter-spacing: 5px;
    &__icon {
      color: #ffffff;
      text-decoration: none;
  }
    &__icon-name{
      color: #ffffff;
      text-decoration: none;
  }
}
  &__group {
    width: 300px;
    height: calc(100vh - 100px);
    background-color: #2f3e51;
    padding: 20px 20px 0;
    &__list__name {
      font-size: 15px;
      color: #ffffff;
      margin-bottom: 5px;
    }
    &__list__name-massage {
      font-size: 11px;
      color: #ffffff;
      margin-bottom: 40px;
      text-decoration: none;
    }
  }
}

.chat-main {
  width: calc(100vw - 300px);
  float: left;
  &__groups {
    height: 100px;
    background-color: #ffffff;
    padding: 0 40px;
    overflow: scroll;
  &__edit {
    display: flex;
    justify-content: space-between;
  }
  &__edit-space {
    margin-top: 35px;
    color: #333333;
    font-size: 20px;
    margin-bottom: 15px;
  }
  &__edit-box {
    padding: 0 20px;
    border: solid 1px #66ffff;
    margin-top: 28px;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
  }
  &__menber {
    display: flex;
    color: #999999;
    font-size: 12px;
  }
}
  &__messages-list {
    height: calc(100vh - 190px);
    background-color: #fafafa;
    padding: 40px;
    overflow: scroll;
    &__text {
      display: flex;
      margin-top: 35px;
      margin-bottom: 12px;
    }
    &__text-name {
      color: #333333;
      font-size: 16px;
      font-weight: bold;
    }
    &__text-time {
      color: #999999;
      font-size: 12px;
      margin-left: 10px;
    
    }
    &__message-coment {
      color: #434A54;
      font-size: 14px;
    }
  }


  &__messages-forms {
    height: 90px;
    background-color: #d2d2d2;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    &__box {
      height: 50px;
      width: 100%;
      line-height: 50px;
      background-color: #fafafa;
      padding: 0 10px;
      display: flex;
      justify-content: space-between;
    }
    &___box-message {
      color: #999999;
    }
    &__send {
      border: solid 1px #66ffff;
      margin-left: 15px;
      height: 50px;
      line-height: 50px;
      padding: 0 30px;
      background-color: #66ffff
    }
    &__send-num {
      color: #ffffff;
      text-decoration: none;
    }
    &__box-icon__imege {
      text-decoration: none;
      font-size: 1.3rem;
      input{
        display: none;
      }
    }
  }
}
  








